.btn {
  display: inline-block;
  padding: 0.8em 2em;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 30px;
}

.btnTweet {
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #33a1f2;
  border: 1px solid #33a1f2;
  padding: 16px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background-color: #2c8ed6;
  }
}
